In [109]:
# Importing Libraries
import os
import json
import requests
import time
import pandas as pd
from pandas import json_normalize
import matplotlib.pyplot as plt
from datetime import datetime

In [41]:
## PATH

dirname = os.getcwd()

rel_matches_path = 'OneDrive - Association Cesi Viacesi mail\Bureau\Projects\winAi\Datasets\\raw-externe\kaggle\stats-bomb\data\matches'
matches_path = os.path.join(dirname, rel_matches_path)

rel_events_path = 'OneDrive - Association Cesi Viacesi mail/Bureau/Projects/winAi/Datasets/raw-externe/kaggle/stats-bomb/data/events'
events_path = os.path.join(dirname, rel_events_path)

In [42]:

def find_json_files(directory):
    json_files = [] 
    for root, dirs, files in os.walk(directory):
        for file in files:
            if file.endswith(".json"):
                json_files.append(os.path.join(root, file))
    return json_files

json_files = find_json_files(matches_path)
_matches_df = [pd.read_json(file) for file in json_files]
matches_df = pd.concat(_matches_df, ignore_index=True)

matches_df.reset_index(drop=True, inplace=True)

if(matches_df.empty):
    print("No data found")
else:
    print("Data loaded successfully")

Data loaded successfully

In [43]:


def findflat_json_files(directory, limit=None):
    json_files = [os.path.join(directory, file) for file in os.listdir(directory) if file.endswith('.json')]
    if limit:
        json_files = json_files[:limit]
    return json_files

json_files = findflat_json_files(events_path, limit=343)

start_time = time.time()
batch_size = 5  
events_df_list = []

for i in range(0, len(json_files), batch_size):
    batch_files = json_files[i:i+batch_size]
    batch_dfs = []
    for file in batch_files:
        temp_df = pd.read_json(file)
        temp_df['match_id'] = os.path.basename(file).split('.')[0]
        batch_dfs.append(temp_df)
    batch_df = pd.concat(batch_dfs, ignore_index=True)
    events_df_list.append(batch_df)
    print(f'Batch {i//batch_size + 1} loaded.')

events_df = pd.concat(events_df_list, ignore_index=True)
events_df.reset_index(drop=True, inplace=True)

print(f'Total loading time: {time.time() - start_time:.2f} seconds')
print(events_df.head())

Batch 1 loaded.
Batch 2 loaded.
Batch 3 loaded.
Batch 4 loaded.
Batch 5 loaded.
Batch 6 loaded.
Batch 7 loaded.
Batch 8 loaded.
Batch 9 loaded.
Batch 10 loaded.
Batch 11 loaded.
Batch 12 loaded.
Batch 13 loaded.
Batch 14 loaded.
Batch 15 loaded.
Batch 16 loaded.
Batch 17 loaded.
Batch 18 loaded.
Batch 19 loaded.
Batch 20 loaded.
Batch 21 loaded.
Batch 22 loaded.
Batch 23 loaded.
Batch 24 loaded.
Batch 25 loaded.
Batch 26 loaded.
Batch 27 loaded.
Batch 28 loaded.
Batch 29 loaded.
Batch 30 loaded.
Batch 31 loaded.
Batch 32 loaded.
Batch 33 loaded.
Batch 34 loaded.
Batch 35 loaded.
Batch 36 loaded.
Batch 37 loaded.
Batch 38 loaded.
Batch 39 loaded.
Batch 40 loaded.
Batch 41 loaded.
Batch 42 loaded.
Batch 43 loaded.
Batch 44 loaded.
Batch 45 loaded.
Batch 46 loaded.
Batch 47 loaded.
Batch 48 loaded.
Batch 49 loaded.
Batch 50 loaded.
Batch 51 loaded.
Batch 52 loaded.
Batch 53 loaded.
Batch 54 loaded.
Batch 55 loaded.
Batch 56 loaded.
Batch 57 loaded.
Batch 58 loaded.
Batch 59 loaded.
Batch 60 loaded.
Batch 61 loaded.
Batch 62 loaded.
Batch 63 loaded.
Batch 64 loaded.
Batch 65 loaded.
Batch 66 loaded.
Batch 67 loaded.
Batch 68 loaded.
Batch 69 loaded.
Total loading time: 209.54 seconds
                                     id  index  period  \
0  9f6e2ecf-6685-45df-a62e-c2db3090f6c1      1       1
1  0300039d-150d-41e4-b29a-76602ef002e6      2       1
2  491e8901-7630-4cc8-b57b-937dddff2eaa      3       1
3  757b85ad-ddfe-44d5-b893-c23a9fb709d8      4       1
4  549567bd-36de-4ac8-b8dc-6b5d3f1e4be8      5       1

                timestamp  minute  second                               type  \
0 2024-07-29 00:00:00.000       0       0  {'id': 35, 'name': 'Starting XI'}
1 2024-07-29 00:00:00.000       0       0  {'id': 35, 'name': 'Starting XI'}
2 2024-07-29 00:00:00.000       0       0   {'id': 18, 'name': 'Half Start'}
3 2024-07-29 00:00:00.000       0       0   {'id': 18, 'name': 'Half Start'}
4 2024-07-29 00:00:00.575       0       0         {'id': 30, 'name': 'Pass'}

   possession                          possession_team  \
0           1         {'id': 217, 'name': 'Barcelona'}
1           1         {'id': 217, 'name': 'Barcelona'}
2           1         {'id': 217, 'name': 'Barcelona'}
3           1         {'id': 217, 'name': 'Barcelona'}
4           2  {'id': 206, 'name': 'Deportivo Alav√©s'}

                         play_pattern  ... out  miscontrol bad_behaviour  \
0   {'id': 1, 'name': 'Regular Play'}  ... NaN         NaN           NaN
1   {'id': 1, 'name': 'Regular Play'}  ... NaN         NaN           NaN
2   {'id': 1, 'name': 'Regular Play'}  ... NaN         NaN           NaN
3   {'id': 1, 'name': 'Regular Play'}  ... NaN         NaN           NaN
4  {'id': 9, 'name': 'From Kick Off'}  ... NaN         NaN           NaN

  substitution match_id 50_50 injury_stoppage half_start player_off half_end
0          NaN    15946   NaN             NaN        NaN        NaN      NaN
1          NaN    15946   NaN             NaN        NaN        NaN      NaN
2          NaN    15946   NaN             NaN        NaN        NaN      NaN
3          NaN    15946   NaN             NaN        NaN        NaN      NaN
4          NaN    15946   NaN             NaN        NaN        NaN      NaN

[5 rows x 43 columns]

In [44]:
## DATA CLEANING

# Verifier les colonnes

# V√©rification des valeurs manquantes

print("IS NUL ---------------")
print(matches_df.isnull().sum())
print(events_df.isnull().sum())

# V√©rification des types de donn√©es
print("DATA TYPES ---------------")
print(matches_df.dtypes)
print(events_df.dtypes)

IS NUL ---------------
match_id                0
match_date              0
kick_off                5
competition             0
season                  0
home_team               0
away_team               0
home_score              0
away_score              0
match_status            0
match_status_360        0
last_updated            0
last_updated_360     1636
metadata                0
match_week              0
competition_stage       0
stadium                10
referee               200
dtype: int64
id                       0
index                    0
period                   0
timestamp                0
minute                   0
second                   0
type                     0
possession               0
possession_team          0
play_pattern             0
team                     0
duration            305163
tactics            1202705
related_events       53497
player                4625
position              4625
location              7862
pass                873363
carry               932613
ball_receipt       1152932
under_pressure      940538
duel               1181958
counterpress       1165625
interception       1197501
off_camera         1193665
ball_recovery      1200702
shot               1195121
goalkeeper         1193526
clearance          1190887
block              1203385
dribble            1190568
foul_committed     1201636
foul_won           1201115
out                1196021
miscontrol         1203692
bad_behaviour      1203847
substitution       1202247
match_id                 0
50_50              1203446
injury_stoppage    1203844
half_start         1204004
player_off         1204027
half_end           1204026
dtype: int64
DATA TYPES ---------------
match_id              int64
match_date           object
kick_off             object
competition          object
season               object
home_team            object
away_team            object
home_score            int64
away_score            int64
match_status         object
match_status_360     object
last_updated         object
last_updated_360     object
metadata             object
match_week            int64
competition_stage    object
stadium              object
referee              object
dtype: object
id                         object
index                       int64
period                      int64
timestamp          datetime64[ns]
minute                      int64
second                      int64
type                       object
possession                  int64
possession_team            object
play_pattern               object
team                       object
duration                  float64
tactics                    object
related_events             object
player                     object
position                   object
location                   object
pass                       object
carry                      object
ball_receipt               object
under_pressure            float64
duel                       object
counterpress              float64
interception               object
off_camera                float64
ball_recovery              object
shot                       object
goalkeeper                 object
clearance                  object
block                      object
dribble                    object
foul_committed             object
foul_won                   object
out                       float64
miscontrol                 object
bad_behaviour              object
substitution               object
match_id                   object
50_50                      object
injury_stoppage            object
half_start                 object
player_off                 object
half_end                   object
dtype: object

In [45]:
## DATA PREPROCESSING - MATCHES DATA COMPLETION - NOT FOR NOW

# Filtrer les enregistrements avec des valeurs manquantes pour 'stadium' ou 'referee'
missing_data_df = matches_df[matches_df['stadium'].isna() | matches_df['referee'].isna()]

# api_key_football = '4dcbce1133594082808db951ee4d2068'
# api_key_weather = 'eeddcecfae4a9faeb7596367dec83f73'

# base_url_football = 'https://api.football-data.org/v2/competitions/PL/matches?season=2022'
# base_url_weather = 'https://api.openweathermap.org/data/2.5/weather'

for _, row in missing_data_df.iterrows():
    print(f"Match ID: {row['match_id']}, Season: {row['season']['season_name']}, Competition: {row['competition']['competition_name']}")
    # req = requests.get(base_url_football, headers={'X-Auth-Token': api_key_football})

Match ID: 9928, Season: 2017/2018, Competition: La Liga
Match ID: 9736, Season: 2017/2018, Competition: La Liga
Match ID: 9742, Season: 2017/2018, Competition: La Liga
Match ID: 9765, Season: 2017/2018, Competition: La Liga
Match ID: 9700, Season: 2017/2018, Competition: La Liga
Match ID: 9717, Season: 2017/2018, Competition: La Liga
Match ID: 9650, Season: 2017/2018, Competition: La Liga
Match ID: 9811, Season: 2017/2018, Competition: La Liga
Match ID: 266989, Season: 2016/2017, Competition: La Liga
Match ID: 266357, Season: 2016/2017, Competition: La Liga
Match ID: 267569, Season: 2016/2017, Competition: La Liga
Match ID: 267212, Season: 2016/2017, Competition: La Liga
Match ID: 266669, Season: 2016/2017, Competition: La Liga
Match ID: 266516, Season: 2016/2017, Competition: La Liga
Match ID: 267101, Season: 2016/2017, Competition: La Liga
Match ID: 266440, Season: 2016/2017, Competition: La Liga
Match ID: 266731, Season: 2016/2017, Competition: La Liga
Match ID: 267432, Season: 2016/2017, Competition: La Liga
Match ID: 267373, Season: 2016/2017, Competition: La Liga
Match ID: 266952, Season: 2016/2017, Competition: La Liga
Match ID: 265952, Season: 2016/2017, Competition: La Liga
Match ID: 267492, Season: 2016/2017, Competition: La Liga
Match ID: 267058, Season: 2016/2017, Competition: La Liga
Match ID: 69322, Season: 2011/2012, Competition: La Liga
Match ID: 70270, Season: 2012/2013, Competition: La Liga
Match ID: 70294, Season: 2012/2013, Competition: La Liga
Match ID: 266066, Season: 2013/2014, Competition: La Liga
Match ID: 70288, Season: 2013/2014, Competition: La Liga
Match ID: 267567, Season: 2013/2014, Competition: La Liga
Match ID: 265918, Season: 2013/2014, Competition: La Liga
Match ID: 70277, Season: 2013/2014, Competition: La Liga
Match ID: 266603, Season: 2013/2014, Competition: La Liga
Match ID: 265835, Season: 2014/2015, Competition: La Liga
Match ID: 266838, Season: 2014/2015, Competition: La Liga
Match ID: 266117, Season: 2014/2015, Competition: La Liga
Match ID: 70264, Season: 2014/2015, Competition: La Liga
Match ID: 267301, Season: 2014/2015, Competition: La Liga
Match ID: 267400, Season: 2014/2015, Competition: La Liga
Match ID: 266148, Season: 2014/2015, Competition: La Liga
Match ID: 266240, Season: 2014/2015, Competition: La Liga
Match ID: 267597, Season: 2014/2015, Competition: La Liga
Match ID: 267343, Season: 2014/2015, Competition: La Liga
Match ID: 266230, Season: 2014/2015, Competition: La Liga
Match ID: 266741, Season: 2014/2015, Competition: La Liga
Match ID: 266967, Season: 2014/2015, Competition: La Liga
Match ID: 266929, Season: 2014/2015, Competition: La Liga
Match ID: 266142, Season: 2014/2015, Competition: La Liga
Match ID: 3825848, Season: 2015/2016, Competition: La Liga
Match ID: 3825837, Season: 2015/2016, Competition: La Liga
Match ID: 3825796, Season: 2015/2016, Competition: La Liga
Match ID: 3825769, Season: 2015/2016, Competition: La Liga
Match ID: 267533, Season: 2015/2016, Competition: La Liga
Match ID: 266310, Season: 2015/2016, Competition: La Liga
Match ID: 266653, Season: 2015/2016, Competition: La Liga
Match ID: 267611, Season: 2015/2016, Competition: La Liga
Match ID: 267422, Season: 2015/2016, Competition: La Liga
Match ID: 266236, Season: 2015/2016, Competition: La Liga
Match ID: 267274, Season: 2015/2016, Competition: La Liga
Match ID: 266961, Season: 2015/2016, Competition: La Liga
Match ID: 266815, Season: 2015/2016, Competition: La Liga
Match ID: 267506, Season: 2015/2016, Competition: La Liga
Match ID: 266106, Season: 2015/2016, Competition: La Liga
Match ID: 267327, Season: 2015/2016, Competition: La Liga
Match ID: 265839, Season: 2015/2016, Competition: La Liga
Match ID: 267273, Season: 2015/2016, Competition: La Liga
Match ID: 266254, Season: 2015/2016, Competition: La Liga
Match ID: 3888713, Season: 1973/1974, Competition: La Liga
Match ID: 16029, Season: 2018/2019, Competition: La Liga
Match ID: 16086, Season: 2018/2019, Competition: La Liga
Match ID: 16120, Season: 2018/2019, Competition: La Liga
Match ID: 16182, Season: 2018/2019, Competition: La Liga
Match ID: 16215, Season: 2018/2019, Competition: La Liga
Match ID: 16265, Season: 2018/2019, Competition: La Liga
Match ID: 16275, Season: 2018/2019, Competition: La Liga
Match ID: 16317, Season: 2018/2019, Competition: La Liga
Match ID: 16205, Season: 2018/2019, Competition: La Liga
Match ID: 16010, Season: 2018/2019, Competition: La Liga
Match ID: 16240, Season: 2018/2019, Competition: La Liga
Match ID: 16231, Season: 2018/2019, Competition: La Liga
Match ID: 303731, Season: 2019/2020, Competition: La Liga
Match ID: 303532, Season: 2019/2020, Competition: La Liga
Match ID: 303516, Season: 2019/2020, Competition: La Liga
Match ID: 303596, Season: 2019/2020, Competition: La Liga
Match ID: 303430, Season: 2019/2020, Competition: La Liga
Match ID: 303725, Season: 2019/2020, Competition: La Liga
Match ID: 303504, Season: 2019/2020, Competition: La Liga
Match ID: 303451, Season: 2019/2020, Competition: La Liga
Match ID: 303664, Season: 2019/2020, Competition: La Liga
Match ID: 303682, Season: 2019/2020, Competition: La Liga
Match ID: 303634, Season: 2019/2020, Competition: La Liga
Match ID: 303421, Season: 2019/2020, Competition: La Liga
Match ID: 303479, Season: 2019/2020, Competition: La Liga
Match ID: 303615, Season: 2019/2020, Competition: La Liga
Match ID: 303696, Season: 2019/2020, Competition: La Liga
Match ID: 303487, Season: 2019/2020, Competition: La Liga
Match ID: 303600, Season: 2019/2020, Competition: La Liga
Match ID: 303548, Season: 2019/2020, Competition: La Liga
Match ID: 303652, Season: 2019/2020, Competition: La Liga
Match ID: 303700, Season: 2019/2020, Competition: La Liga
Match ID: 303707, Season: 2019/2020, Competition: La Liga
Match ID: 303666, Season: 2019/2020, Competition: La Liga
Match ID: 303715, Season: 2019/2020, Competition: La Liga
Match ID: 303377, Season: 2019/2020, Competition: La Liga
Match ID: 303517, Season: 2019/2020, Competition: La Liga
Match ID: 303610, Season: 2019/2020, Competition: La Liga
Match ID: 3773386, Season: 2020/2021, Competition: La Liga
Match ID: 3773457, Season: 2020/2021, Competition: La Liga
Match ID: 3773631, Season: 2020/2021, Competition: La Liga
Match ID: 3773656, Season: 2020/2021, Competition: La Liga
Match ID: 3773477, Season: 2020/2021, Competition: La Liga
Match ID: 3813296, Season: 2021/2022, Competition: Indian Super league
Match ID: 3888706, Season: 1972/1973, Competition: Champions League
Match ID: 2302764, Season: 2004/2005, Competition: Champions League
Match ID: 3752619, Season: 2003/2004, Competition: Champions League
Match ID: 3749052, Season: 2003/2004, Competition: Premier League
Match ID: 3749522, Season: 2003/2004, Competition: Premier League
Match ID: 3749246, Season: 2003/2004, Competition: Premier League
Match ID: 3749257, Season: 2003/2004, Competition: Premier League
Match ID: 3749642, Season: 2003/2004, Competition: Premier League
Match ID: 3749358, Season: 2003/2004, Competition: Premier League
Match ID: 3749346, Season: 2003/2004, Competition: Premier League
Match ID: 3749253, Season: 2003/2004, Competition: Premier League
Match ID: 3749079, Season: 2003/2004, Competition: Premier League
Match ID: 3749465, Season: 2003/2004, Competition: Premier League
Match ID: 3749133, Season: 2003/2004, Competition: Premier League
Match ID: 3749528, Season: 2003/2004, Competition: Premier League
Match ID: 3749233, Season: 2003/2004, Competition: Premier League
Match ID: 3749462, Season: 2003/2004, Competition: Premier League
Match ID: 3749552, Season: 2003/2004, Competition: Premier League
Match ID: 3749296, Season: 2003/2004, Competition: Premier League
Match ID: 3749454, Season: 2003/2004, Competition: Premier League
Match ID: 3749276, Season: 2003/2004, Competition: Premier League
Match ID: 3749068, Season: 2003/2004, Competition: Premier League
Match ID: 3749310, Season: 2003/2004, Competition: Premier League
Match ID: 3749493, Season: 2003/2004, Competition: Premier League
Match ID: 3749434, Season: 2003/2004, Competition: Premier League
Match ID: 3749192, Season: 2003/2004, Competition: Premier League
Match ID: 3749196, Season: 2003/2004, Competition: Premier League
Match ID: 3749448, Season: 2003/2004, Competition: Premier League
Match ID: 3749360, Season: 2003/2004, Competition: Premier League
Match ID: 3749453, Season: 2003/2004, Competition: Premier League
Match ID: 3749278, Season: 2003/2004, Competition: Premier League
Match ID: 3749603, Season: 2003/2004, Competition: Premier League
Match ID: 3749274, Season: 2003/2004, Competition: Premier League
Match ID: 3749590, Season: 2003/2004, Competition: Premier League
Match ID: 3749631, Season: 2003/2004, Competition: Premier League
Match ID: 3749117, Season: 2003/2004, Competition: Premier League
Match ID: 3749108, Season: 2003/2004, Competition: Premier League
Match ID: 3749153, Season: 2003/2004, Competition: Premier League
Match ID: 3749403, Season: 2003/2004, Competition: Premier League
Match ID: 3749526, Season: 2003/2004, Competition: Premier League
Match ID: 3749431, Season: 2003/2004, Competition: Premier League
Match ID: 3775612, Season: 2020/2021, Competition: FA Women's Super League
Match ID: 3857291, Season: 2022, Competition: FIFA World Cup
Match ID: 3888854, Season: 1962, Competition: FIFA World Cup
Match ID: 3889149, Season: 1986, Competition: FIFA World Cup
Match ID: 3901263, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901170, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901231, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901230, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901229, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901228, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901227, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901225, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901224, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901223, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901222, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901221, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901220, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901218, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901217, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901216, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901215, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901214, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901212, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901211, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901210, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901209, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901208, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901207, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901206, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901204, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901203, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901202, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901201, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901200, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901198, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901195, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901181, Season: 2015/2016, Competition: Ligue 1
Match ID: 3901163, Season: 2015/2016, Competition: Ligue 1
Match ID: 3829429, Season: 2015/2016, Competition: Ligue 1
Match ID: 3893797, Season: 2023, Competition: Women's World Cup
Match ID: 22943, Season: 2019, Competition: Women's World Cup
Match ID: 22961, Season: 2019, Competition: Women's World Cup
Match ID: 22964, Season: 2019, Competition: Women's World Cup
Match ID: 22963, Season: 2019, Competition: Women's World Cup
Match ID: 22966, Season: 2019, Competition: Women's World Cup
Match ID: 68355, Season: 2019, Competition: Women's World Cup
Match ID: 22973, Season: 2019, Competition: Women's World Cup
Match ID: 22983, Season: 2019, Competition: Women's World Cup
Match ID: 22930, Season: 2019, Competition: Women's World Cup
Match ID: 22942, Season: 2019, Competition: Women's World Cup
Match ID: 22948, Season: 2019, Competition: Women's World Cup
Match ID: 22962, Season: 2019, Competition: Women's World Cup
Match ID: 68343, Season: 2019, Competition: Women's World Cup
Match ID: 68362, Season: 2019, Competition: Women's World Cup
Match ID: 69191, Season: 2019, Competition: Women's World Cup
Match ID: 69258, Season: 2019, Competition: Women's World Cup
Match ID: 3889115, Season: 1997/1998, Competition: Liga Profesional

In [98]:

## DATA PREPROCESSING - EXTRACTION OF STATISTICS FOR EVENTS DATA - BOTH TEAMS

# Extraction des statistiques pour les donn√©es d'√©v√©nements

#--------------------------- Filter on SHOTS ---------------------------#
shots_df = events_df[events_df['type'].apply(lambda x: x['name'] == 'Shot')]


#----------- SHOTS ON TARGET

# Filtrer les tirs pour ne conserver que ceux avec un outcome de "Saved"
shots_on_target_df = shots_df[shots_df['shot'].apply(lambda x: x['outcome']['name'] == 'Saved')]
# Nombre de tirs cadr√©s sur le but par match
shots_on_target_per_match = shots_on_target_df.groupby('match_id').size()
shots_on_target_per_match = shots_on_target_per_match.rename_axis('match_id').reset_index(name='shots_on_target') 
print(shots_on_target_per_match.head())

#----------- SHOTS OFF TARGET

# Filtrer les tirs pour ne conserver que ceux avec un outcome de "Off T"
shots_off_target_df = shots_df[shots_df['shot'].apply(lambda x: x['outcome']['name'] == 'Off T')]
# Nombre de tirs non cadr√©s par match
shots_off_target_per_match = shots_off_target_df.groupby('match_id').size()
shots_off_target_per_match = shots_off_target_per_match.rename_axis('match_id').reset_index(name='shots_off_target')
print(shots_off_target_per_match.head())

#----------- GOALS

# Filtrer les tirs pour ne conserver que ceux avec un outcome de "Goal"
goals_df = shots_df[shots_df['shot'].apply(lambda x: x['outcome']['name'] == 'Goal')]
# Nombre de buts par match
goals_per_match = shots_on_target_df.groupby('match_id').size()
goals_per_match = goals_per_match.rename_axis('match_id').reset_index(name='goals')
print(goals_per_match.head())

#----------- KEY PASSES

# Filtrer les tirs pour ne conserver que ceux qui ont une passe cl√© (key_pass_id)
key_passes_df = shots_df[shots_df['shot'].apply(lambda x: 'key_pass_id' in x and x['key_pass_id'] is not None)]
# Nombre de passes cl√©s par match
key_passes_per_match = key_passes_df.groupby('match_id').size()
key_passes_per_match = key_passes_per_match.rename_axis('match_id').reset_index(name='key_passes')
print(key_passes_per_match.head())

# ----------- xGoals

# Extraire les valeurs de xG pour chaque tir
xG_values = shots_df['shot'].apply(lambda x: x['statsbomb_xg'])
# Ajouter les valeurs xG √† la dataframe des tirs
shots_df['xG'] = xG_values
# Somme des valeurs xG par match
xG_per_match = shots_df.groupby('match_id')['xG'].sum()
xG_per_match = xG_per_match.rename_axis('match_id').reset_index(name='xG')
print(xG_per_match.head())

# ----------- average xG per Shot per match

# Nombre de tirs par match
shots_per_match = shots_df.groupby('match_id').size()
# Somme des valeurs xG par match
xG_per_match = shots_df.groupby('match_id')['xG'].sum()
# xG moyen par tir par match
average_xG_per_shot_per_match = xG_per_match / shots_per_match
average_xG_per_shot_per_match = average_xG_per_shot_per_match.rename_axis('match_id').reset_index(name='average_xG_per_shot')
print(average_xG_per_shot_per_match.head())

#--------------------------- Filter on DRIBBLES ---------------------------#
dribbles_df = events_df[events_df['type'].apply(lambda x: x['name'] == 'Dribble')]

# ----------- succesfull dribbles
# Filtrer les dribbles r√©ussis
successful_dribbles_df = dribbles_df[dribbles_df['dribble'].apply(lambda x: x['outcome']['name'] == 'Complete')]
# Nombre de dribbles r√©ussis par match
dribbles_per_match = successful_dribbles_df.groupby('match_id').size()
dribbles_per_match = dribbles_per_match.rename_axis('match_id').reset_index(name='successful_dribbles')
print(dribbles_per_match.head())

# ----------- unsuccessful dribbles

# Filtrer les dribbles non r√©ussis
unsuccessful_dribbles_df = dribbles_df[dribbles_df['dribble'].apply(lambda x: x['outcome']['name'] == 'Incomplete')]
# Nombre de dribbles non r√©ussis par match
unsuccessful_dribbles_per_match = unsuccessful_dribbles_df.groupby('match_id').size()
unsuccessful_dribbles_per_match = unsuccessful_dribbles_per_match.rename_axis('match_id').reset_index(name='unsuccessful_dribbles')
print(unsuccessful_dribbles_per_match.head())

#--------------------------- Filter on FOULS ---------------------------#

# Filtrer les √©v√©nements de type "Foul Won"
fouls_won_df = events_df[events_df['type'].apply(lambda x: x['name'] == 'Foul Won')]
fouls_won_df = fouls_won_df[fouls_won_df['foul_won'].apply(lambda x: isinstance(x, dict) and 'defensive' in x and x['defensive'] is not None)]
# Nombre de fautes gagn√©es par match
fouls_won_per_match = fouls_won_df.groupby('match_id').size()
fouls_won_per_match = fouls_won_per_match.rename_axis('match_id').reset_index(name='fouls_won')
print(fouls_won_per_match.head())

  match_id  shots_on_target
0    15946                6
1    15956                8
2    15973               10
3    15978                7
4    15986               11
  match_id  shots_off_target
0    15946                 9
1    15956                 7
2    15973                10
3    15978                 6
4    15986                 3
  match_id  goals
0    15946      6
1    15956      8
2    15973     10
3    15978      7
4    15986     11
  match_id  key_passes
0    15946          18
1    15956          13
2    15973          26
3    15978          16
4    15986          20
  match_id        xG
0    15946  2.952034
1    15956  1.096423
2    15973  5.778313
3    15978  2.312577
4    15986  2.571688
  match_id  average_xG_per_shot
0    15946             0.105430
1    15956             0.060912
2    15973             0.156171
3    15978             0.115629
4    15986             0.091846

C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\1269449377.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots_df['xG'] = xG_values

  match_id  successful_dribbles
0    15946                   12
1    15956                    8
2    15973                   10
3    15978                   15
4    15986                   13
  match_id  unsuccessful_dribbles
0    15946                     12
1    15956                     17
2    15973                     11
3    15978                     17
4    15986                     14
  match_id  fouls_won
0    15946          4
1    15956          3
2    15973          6
3    15978          5
4    15986          6

In [47]:
### SLICING DATAFRAME TO FIT THE EVENT BATCHS LOADS SIZE

# Extraire les identifiants des √©quipes domicile et visiteuse
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Convertir match_id en cha√Æne de caract√®res dans matches_df
matches_df['match_id'] = matches_df['match_id'].astype(str)

unique_match_ids = events_df['match_id'].unique()
matches_df = matches_df[matches_df['match_id'].isin(unique_match_ids)]

match_ids_in_matches_df = set(matches_df['match_id'].unique())
match_ids_in_events_df = set(events_df['match_id'].unique())

# Identifier les match_id manquants dans events_df
missing_match_ids = match_ids_in_matches_df - match_ids_in_events_df

print("Nombre d'ID manquants",len(missing_match_ids) ,f"Match IDs manquants dans events_df: {missing_match_ids}")

Nombre d'ID manquants 0 Match IDs manquants dans events_df: set()

In [96]:
### ---------------------------------- SHOTS AWAY AND HOME

matches_teams_df = matches_df[['match_id', 'home_team_id', 'away_team_id']]

# Assurer que les identifiants d'√©quipe sont des cha√Ænes de caract√®res
matches_teams_df['home_team_id'] = matches_teams_df['home_team_id'].astype(str)
matches_teams_df['away_team_id'] = matches_teams_df['away_team_id'].astype(str)
shots_df['team_id'] = shots_df['team'].apply(lambda x: str(x['id']))  # Assurer que les identifiants sont des cha√Ænes

# Fusionner les dataframes pour obtenir les informations de chaque match dans shots_df
shots_df = shots_df.merge(matches_teams_df, on='match_id', how='left')

# Filtrer les tirs pour l'√©quipe √† domicile et √† l'ext√©rieur
shots_per_match_home = shots_df[shots_df['team_id'] == shots_df['home_team_id']].groupby('match_id').size()
shots_per_match_home = shots_per_match_home.rename_axis('match_id').reset_index(name='shots_home')

shots_per_match_away = shots_df[shots_df['team_id'] == shots_df['away_team_id']].groupby('match_id').size()
shots_per_match_away = shots_per_match_away.rename_axis('match_id').reset_index(name='shots_away')

# Merge les deux dataframes 
shots_per_match = shots_per_match_home.merge(shots_per_match_away, on='match_id', how='left')
# Convertir les colonnes en entiers √† la place de float
shots_per_match['shots_home'] = shots_per_match['shots_home'].fillna(0).astype(int)
shots_per_match['shots_away'] = shots_per_match['shots_away'].fillna(0).astype(int)
shots_per_match.tail()

C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\4240149688.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches_teams_df['home_team_id'] = matches_teams_df['home_team_id'].astype(str)
C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\4240149688.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matches_teams_df['away_team_id'] = matches_teams_df['away_team_id'].astype(str)

    match_id  shots_home  shots_away
337   266827           7          12
338   266838           6          10
339   266846          16           7
340   266871          15          20
341   266874          16          10

In [94]:
### ---------------------------------- GOALS AWAY AND HOME

# Fusionner les dataframes pour obtenir les informations de chaque match dans goals_df

goals_df = goals_df.merge(matches_teams_df, on='match_id', how='left')

# SUpprimer les colonnes dupliqu√©s uniquement si elles existent - MOCHE
columns_to_remove = [col for col in shots_on_target_df.columns if '_x' in col or '_y' in col]
shots_on_target_df.drop(columns=columns_to_remove, axis=1, inplace=True)

# Group by match and team way or home for each goal and match
goals_per_match_away = goals_df[goals_df['team'].apply(lambda y : str(y['id'])) == goals_df['away_team_id']].groupby('match_id').size()
goals_per_match_home = goals_df[goals_df['team'].apply(lambda y : str(y['id'])) == goals_df['home_team_id']].groupby('match_id').size()
# Rename the columns
goals_per_match_away = goals_per_match_away.rename_axis('match_id').reset_index(name='goals_away')
goals_per_match_home = goals_per_match_home.rename_axis('match_id').reset_index(name='goals_home')
# Merge the two dataframes
goals_per_match = goals_per_match_home.merge(goals_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
goals_per_match['goals_home'] = goals_per_match['goals_home'].fillna(0).astype(int)
goals_per_match['goals_away'] = goals_per_match['goals_away'].fillna(0).astype(int)

goals_per_match.tail()

    match_id  goals_home  goals_away
234   266815           1           3
235   266827           1           3
236   266846           5           0
237   266871           2           4
238   266874           3           0

In [92]:
### ---------------------------------- xG AWAY AND HOME

# S'assurer que 'home_team_id' et 'away_team_id' sont bien extraits et convertis en cha√Ænes de caract√®res
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: str(x['home_team_id']))
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: str(x['away_team_id']))

# Transformer xG_per_match en une dataframe s'il ne l'est pas d√©j√†
if not isinstance(xG_per_match, pd.DataFrame):
    xG_per_match = pd.DataFrame(xG_per_match)

xG_per_match = shots_df.groupby('match_id')['xG'].sum()
xG_per_match = xG_per_match.rename_axis('match_id').reset_index(name='xG_TOTAL')
# Regrouper les xGoals par match pour l'√©quipe √† domicile (home_team_id)
xG_per_match_home = shots_df[shots_df['team_id'] == shots_df['home_team_id']].groupby('match_id')['xG'].sum().reset_index(name='xG_home')
xG_per_match_away = shots_df[shots_df['team_id'] == shots_df['away_team_id']].groupby('match_id')['xG'].sum().reset_index(name='xG_home')

# Fusionner les trois DataFrames
xG_per_match_final = xG_per_match_home.merge(xG_per_match_away, on='match_id', how='left')
xG_per_match_final = xG_per_match_final.merge(xG_per_match, on='match_id', how='left')

xG_per_match_final.tail()

    match_id  xG_home_x  xG_home_y  xG_TOTAL
337   266827   0.330573   1.535008  1.865581
338   266838   0.255059   0.783761  1.038819
339   266846   1.877283   0.112073  1.989355
340   266871   2.018441   3.362171  5.380612
341   266874   0.967318   0.822713  1.790031

In [107]:
### ---------------------------------- SHOT ON TARGET AWAY AND HOME
# Ensure 'home_team_id' and 'away_team_id' are correctly named before merging
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Check and remove any pre-existing '_x' or '_y' columns
columns_to_remove = [col for col in shots_on_target_df.columns if '_x' in col or '_y' in col]
shots_on_target_df.drop(columns=columns_to_remove, axis=1, inplace=True)

# Merge the DataFrames
shots_on_target_df = shots_on_target_df.merge(matches_teams_df, on='match_id', how='left')
# Create team_id column
shots_on_target_df['team_id'] = shots_on_target_df['team'].apply(lambda x: str(x['id']))
shots_on_target_per_match_home = shots_on_target_df[shots_on_target_df['team_id'] == shots_on_target_df['home_team_id']].groupby('match_id').size()
shots_on_target_per_match_home = shots_on_target_per_match_home.rename_axis('match_id').reset_index(name='shots_on_target_home')

shots_on_target_per_match_away = shots_on_target_df[shots_on_target_df['team_id'] == shots_on_target_df['away_team_id']].groupby('match_id').size()
shots_on_target_per_match_away = shots_on_target_per_match_away.rename_axis('match_id').reset_index(name='shots_on_target_away')

# Merge the two DataFrames
shots_on_target_per_match = shots_on_target_per_match_home.merge(shots_on_target_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
shots_on_target_per_match['shots_on_target_home'] = shots_on_target_per_match['shots_on_target_home'].fillna(0).astype(int)
shots_on_target_per_match['shots_on_target_away'] = shots_on_target_per_match['shots_on_target_away'].fillna(0).astype(int)

shots_on_target_per_match.tail()

    match_id  shots_on_target_home  shots_on_target_away
317   266827                     1                     1
318   266838                     1                     0
319   266846                     4                     1
320   266871                     4                     5
321   266874                     3                     3

In [108]:
### ---------------------------------- SHOT OFF TARGET AWAY AND HOME
# Ensure 'home_team_id' and 'away_team_id' are correctly named before merging
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Check and remove any pre-existing '_x' or '_y' columns
columns_to_remove = [col for col in shots_off_target_df.columns if '_x' in col or '_y' in col]
shots_off_target_df.drop(columns=columns_to_remove, axis=1, inplace=True)
# Merge the DataFrames
shots_off_target_df = shots_off_target_df.merge(matches_teams_df, on='match_id', how='left')
# Create team_id column
shots_off_target_df['team_id'] = shots_off_target_df['team'].apply(lambda x: str(x['id']))
shots_off_target_per_match_home = shots_off_target_df[shots_off_target_df['team_id'] == shots_off_target_df['home_team_id']].groupby('match_id').size()
shots_off_target_per_match_home = shots_off_target_per_match_home.rename_axis('match_id').reset_index(name='shots_off_target_home')

shots_off_target_per_match_away = shots_off_target_df[shots_off_target_df['team_id'] == shots_off_target_df['away_team_id']].groupby('match_id').size()
shots_off_target_per_match_away = shots_off_target_per_match_away.rename_axis('match_id').reset_index(name='shots_off_target_away')

# Merge the two DataFrames
shots_off_target_per_match = shots_off_target_per_match_home.merge(shots_off_target_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
shots_off_target_per_match['shots_off_target_home'] = shots_off_target_per_match['shots_off_target_home'].fillna(0).astype(int)
shots_off_target_per_match['shots_off_target_away'] = shots_off_target_per_match['shots_off_target_away'].fillna(0).astype(int)

shots_off_target_per_match.tail()

C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\1902730671.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots_off_target_df.drop(columns=columns_to_remove, axis=1, inplace=True)

    match_id  shots_off_target_home  shots_off_target_away
323   266827                      2                      5
324   266838                      2                      5
325   266846                      3                      4
326   266871                      3                      5
327   266874                      7                      6

In [110]:
### ---------------------------------- KEY PASSES AWAY AND HOME

# Ensure 'home_team_id' and 'away_team_id' are correctly named before merging
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Check and remove any pre-existing '_x' or '_y' columns
columns_to_remove = [col for col in key_passes_df.columns if '_x' in col or '_y' in col]
key_passes_df.drop(columns=columns_to_remove, axis=1, inplace=True)
# Merge the DataFrames
key_passes_df = key_passes_df.merge(matches_teams_df, on='match_id', how='left')
# Create team_id column
key_passes_df['team_id'] = key_passes_df['team'].apply(lambda x: str(x['id']))
key_passes_per_match_home = key_passes_df[key_passes_df['team_id'] == key_passes_df['home_team_id']].groupby('match_id').size()
key_passes_per_match_home = key_passes_per_match_home.rename_axis('match_id').reset_index(name='key_passes_home')

key_passes_per_match_away = key_passes_df[key_passes_df['team_id'] == key_passes_df['away_team_id']].groupby('match_id').size()
key_passes_per_match_away = key_passes_per_match_away.rename_axis('match_id').reset_index(name='key_passes_away')

# Merge the two DataFrames
key_passes_per_match = key_passes_per_match_home.merge(key_passes_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
key_passes_per_match['key_passes_home'] = key_passes_per_match['key_passes_home'].fillna(0).astype(int)
key_passes_per_match['key_passes_away'] = key_passes_per_match['key_passes_away'].fillna(0).astype(int)

key_passes_per_match.tail()

C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\3957278784.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  key_passes_df.drop(columns=columns_to_remove, axis=1, inplace=True)

    match_id  key_passes_home  key_passes_away
335   266827                4                9
336   266838                4                7
337   266846               12                4
338   266871                8               18
339   266874               12                7

In [111]:
### ---------------------------------- DRIBBLES AWAY AND HOME

# Ensure 'home_team_id' and 'away_team_id' are correctly named before merging
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Check and remove any pre-existing '_x' or '_y' columns
columns_to_remove = [col for col in successful_dribbles_df.columns if '_x' in col or '_y' in col]
successful_dribbles_df.drop(columns=columns_to_remove, axis=1, inplace=True)
# Merge the DataFrames
successful_dribbles_df = successful_dribbles_df.merge(matches_teams_df, on='match_id', how='left')
# Create team_id column
successful_dribbles_df['team_id'] = successful_dribbles_df['team'].apply(lambda x: str(x['id']))
successful_dribbles_per_match_home = successful_dribbles_df[successful_dribbles_df['team_id'] == successful_dribbles_df['home_team_id']].groupby('match_id').size()
successful_dribbles_per_match_home = successful_dribbles_per_match_home.rename_axis('match_id').reset_index(name='successful_dribbles_home')

successful_dribbles_per_match_away = successful_dribbles_df[successful_dribbles_df['team_id'] == successful_dribbles_df['away_team_id']].groupby('match_id').size()
successful_dribbles_per_match_away = successful_dribbles_per_match_away.rename_axis('match_id').reset_index(name='successful_dribbles_away')

# Merge the two DataFrames
successful_dribbles_per_match = successful_dribbles_per_match_home.merge(successful_dribbles_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
successful_dribbles_per_match['successful_dribbles_home'] = successful_dribbles_per_match['successful_dribbles_home'].fillna(0).astype(int)
successful_dribbles_per_match['successful_dribbles_away'] = successful_dribbles_per_match['successful_dribbles_away'].fillna(0).astype(int)

successful_dribbles_per_match.tail()

C:\Users\NyveK\AppData\Local\Temp\ipykernel_7744\3147862217.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  successful_dribbles_df.drop(columns=columns_to_remove, axis=1, inplace=True)

    match_id  successful_dribbles_home  successful_dribbles_away
338   266827                         9                        24
339   266838                        13                        25
340   266846                        16                         4
341   266871                         7                        19
342   266874                        23                         6

In [112]:
### ---------------------------------- FOULS WON AWAY AND HOME

# Ensure 'home_team_id' and 'away_team_id' are correctly named before merging
matches_df['home_team_id'] = matches_df['home_team'].apply(lambda x: x['home_team_id'])
matches_df['away_team_id'] = matches_df['away_team'].apply(lambda x: x['away_team_id'])

# Check and remove any pre-existing '_x' or '_y' columns
columns_to_remove = [col for col in fouls_won_df.columns if '_x' in col or '_y' in col]
fouls_won_df.drop(columns=columns_to_remove, axis=1, inplace=True)
# Merge the DataFrames
fouls_won_df = fouls_won_df.merge(matches_teams_df, on='match_id', how='left')
# Create team_id column
fouls_won_df['team_id'] = fouls_won_df['team'].apply(lambda x: str(x['id']))
fouls_won_per_match_home = fouls_won_df[fouls_won_df['team_id'] == fouls_won_df['home_team_id']].groupby('match_id').size()
fouls_won_per_match_home = fouls_won_per_match_home.rename_axis('match_id').reset_index(name='fouls_won_home')

fouls_won_per_match_away = fouls_won_df[fouls_won_df['team_id'] == fouls_won_df['away_team_id']].groupby('match_id').size()
fouls_won_per_match_away = fouls_won_per_match_away.rename_axis('match_id').reset_index(name='fouls_won_away')

# Merge the two DataFrames
fouls_won_per_match = fouls_won_per_match_home.merge(fouls_won_per_match_away, on='match_id', how='left')
# Convert the columns to integers instead of floats
fouls_won_per_match['fouls_won_home'] = fouls_won_per_match['fouls_won_home'].fillna(0).astype(int)
fouls_won_per_match['fouls_won_away'] = fouls_won_per_match['fouls_won_away'].fillna(0).astype(int)

fouls_won_per_match.tail()

    match_id  fouls_won_home  fouls_won_away
310   266827               1               2
311   266838               4               2
312   266846               2               4
313   266871               3               3
314   266874               8               4

In [117]:
### ---------------------------------- MERGING ALL DATAFRAMES

# Merge all the DataFrames into the final DataFrame Matches Stats

matches_stats_df = matches_stats_df.merge(goals_per_match, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(xG_per_match_final, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(shots_on_target_per_match, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(shots_off_target_per_match, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(key_passes_per_match, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(successful_dribbles_per_match, on='match_id', how='left')
matches_stats_df = matches_stats_df.merge(fouls_won_per_match, on='match_id', how='left')

matches_stats_df.tail()

,match_id,shots_home,shots_away,goals_home,goals_away,shots_on_target_home_x,shots_on_target_away_x,shots_off_target_home_x,shots_off_target_away_x,key_passes_home_x,...,shots_on_target_home,shots_on_target_away,shots_off_target_home,shots_off_target_away,key_passes_home,key_passes_away,successful_dribbles_home,successful_dribbles_away,fouls_won_home,fouls_won_away
337,266827,7,12,1.0,3.0,1.0,1.0,2.0,5.0,4.0,...,1.0,1.0,2.0,5.0,4.0,9.0,9,24,1.0,2.0
338,266838,6,10,NaN,NaN,1.0,0.0,2.0,5.0,4.0,...,1.0,0.0,2.0,5.0,4.0,7.0,13,25,4.0,2.0
339,266846,16,7,5.0,0.0,4.0,1.0,3.0,4.0,12.0,...,4.0,1.0,3.0,4.0,12.0,4.0,16,4,2.0,4.0
340,266871,15,20,2.0,4.0,4.0,5.0,3.0,5.0,8.0,...,4.0,5.0,3.0,5.0,8.0,18.0,7,19,3.0,3.0
341,266874,16,10,3.0,0.0,3.0,3.0,7.0,6.0,12.0,...,3.0,3.0,7.0,6.0,12.0,7.0,23,6,8.0,4.0